/*
* Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
* Media import
*/
@font-face {
    font-family: 'gg sans';
    src: url('font/ggsans-Normal.eot');
    src: local('gg sans Normal'), local('ggsans-Normal'),
        url('font/ggsans-Normal.eot?#iefix') format('embedded-opentype'),
        url('font/ggsans-Normal.woff2') format('woff2'),
        url('font/ggsans-Normal.woff') format('woff'),
        url('font/ggsans-Normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('font/ggsans-Bold.eot');
    src: local('gg sans Bold'), local('ggsans-Bold'),
        url('font/ggsans-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/ggsans-Bold.woff2') format('woff2'),
        url('font/ggsans-Bold.woff') format('woff'),
        url('font/ggsans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('font/ggsans-ExtraBold.eot');
    src: local('gg sans ExtraBold'), local('ggsans-ExtraBold'),
        url('font/ggsans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/ggsans-ExtraBold.woff2') format('woff2'),
        url('font/ggsans-ExtraBold.woff') format('woff'),
        url('font/ggsans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/*
* Debug
*/
.debug .container-menu {
    background-color: #add8e6;
    height: 80px;
}

.debug .logo, .debug .menu, .debug .login {
    background-color: #daa520;
}

.debug .container-menu > * {
    border: 1px dashed black;
}

.debug .banner {
    background-color: #00008b;
}

.debug .banner-pay {
    width: 900px;
    height: 400px;
    background-color: #ee82ee;
    border: 1px dashed black;
}

.debug .col-lg {
    height: 400px;
    background-color: #1e90ff;
    border: 1px dashed black;
}
.debug .col-md {
    height: 400px;
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.debug .big-box {
    background-color: #228b22;
    height: 900px;
    border: 1px dashed black;
}

.debug .col-2-6 {
    background-color: #f08080;
    height: 580px;
    border: 1px dashed black;

}

.debug .col-1-6 {
    background-color: #20b2aa;
    height: 580px;
    border: 1px dashed white;
}

.debug .footer-content {
    background-color: #7fffd4;
}

.debug .footer-content > .col {
    background-color: #ffb6c1;
    border: 1px dashed black;
}



/*
* Common
*/
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header .menu a {
    color: white;
    font-weight: 600;
}

.button {
    border-radius: 40px;
    padding: 7px 15px;
    font-size: 14px;
}
.button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    color: #00008b;
    text-decoration: none;
}

.button.white {
    background-color: white;
    border: 1px solid white;
    color: black;
}

.button.black {
    background-color: #23272A;
    border: 1px solid #23272A;
    color: white;
}


/*
* Typo
*/
h1, h2, h3, h4, h5, h6 {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 35px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 35px;
}
p {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.7em;
}

ul {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.login {font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
/*
* Header menu
*/
header {
    background-color: #255EE9;
    color: white;
}

.container-menu {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.logo {
    width: 20%;
    padding-left: 10px;
}

.logo > img {
    width: 124px;
    height: 34px;
}

nav {
    width: 60%;
}

.menu {
    display: flex;
    justify-content: center;
}

nav > .menu > li {
    list-style: none;
    margin: 0 20px;
}

.login {
    width: 20%;
    text-align: center;
    padding-right: 10px;
}



/*
* Header banner
*/
.banner {
    padding: 100px 0 118px 0;
    background: url(../img/jumbo.png) center/120% no-repeat;
}

.banner-pay {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.banner-pay > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-pay > a {
    margin: 0 5px;
}



/*
* Main sito
*/
.flex-container:nth-child(even) {
    background-color: #f6f6f6;
}

.row {
    display: flex;
    padding: 50px 0;
    margin: 0 auto;
    width: 80%;
}

main .flex-container:nth-child(even) > .row {
    flex-direction: row-reverse;
}

.col-lg {
    width: 60%;
}

.col-md {
    width: 40%;
    margin-top: 40px;
    margin-left: 40px;
}

.secondary {
    background-color: #d3d3d3;
    padding: 50px 0;
}

.big-box {
    width: 80%;
    margin: 0 auto;
}



/*
* Footer
*/
footer {
    background-color: #23272a;
}

.footer-container-top {
    border-bottom: 1px solid #9a9a9a;
}

.footer-container-top > .row {
    padding: 10px 0 40px 0;
}

.col-2-6 {
    flex-grow: 2;
}

.col-1-6 {
    flex-grow: 1;
}

.footer-container-bottom {
    padding-top: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.footer-content {
    padding: 20px 0;
    justify-content: space-between;
}

