/*
* Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
* Media import
*/
@font-face {
    font-family: 'gg sans';
    src: url('font/ggsans-Normal.eot');
    src: local('gg sans Normal'), local('ggsans-Normal'),
        url('font/ggsans-Normal.eot?#iefix') format('embedded-opentype'),
        url('font/ggsans-Normal.woff2') format('woff2'),
        url('font/ggsans-Normal.woff') format('woff'),
        url('font/ggsans-Normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('font/ggsans-Bold.eot');
    src: local('gg sans Bold'), local('ggsans-Bold'),
        url('font/ggsans-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/ggsans-Bold.woff2') format('woff2'),
        url('font/ggsans-Bold.woff') format('woff'),
        url('font/ggsans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('font/ggsans-ExtraBold.eot');
    src: local('gg sans ExtraBold'), local('ggsans-ExtraBold'),
        url('font/ggsans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/ggsans-ExtraBold.woff2') format('woff2'),
        url('font/ggsans-ExtraBold.woff') format('woff'),
        url('font/ggsans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/*
* Debug
*/
.debug .container-menu {
    background-color: #add8e6;
    height: 80px;
}

.debug .logo, .debug .menu, .debug .login {
    background-color: #daa520;
}

.debug .container-menu > * {
    border: 1px dashed black;
}

.debug .banner {
    background-color: #00008b;
}

.debug .banner-pay {
    width: 900px;
    height: 400px;
    background-color: #ee82ee;
    border: 1px dashed black;
}

.debug .col-lg {
    height: 400px;
    background-color: #1e90ff;
    border: 1px dashed black;
}
.debug .col-md {
    height: 400px;
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.debug .big-box {
    background-color: #228b22;
    height: 900px;
    border: 1px dashed black;
}

.debug .col-2-6 {
    background-color: #f08080;
    height: 580px;
    border: 1px dashed black;

}

.debug .col-1-6 {
    background-color: #20b2aa;
    height: 580px;
    border: 1px dashed white;
}

.debug .footer-content {
    background-color: #7fffd4;
}

.debug .footer-content > .col {
    background-color: #ffb6c1;
    border: 1px dashed black;
}
/* --------------------------------- */



/*
* Common
*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header .menu a,
footer a {
    color: white;
    font-weight: 600;
}

footer a {
    font-size: 12px;
    font-weight: 400;
}

.button {
    border-radius: 40px;
    padding: 7px 15px;
    font-size: 14px;
}

.button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    color: #00008b;
    text-decoration: none;
}

.button.white {
    background-color: white;
    border: 1px solid white;
    color: black;
}

.button.black {
    background-color: #23272A;
    border: 1px solid #23272A;
    color: white;
}

.button.md-blu {
    background-color: #7289DA;
    border: 1px solid #7289DA;
    color: white;
}

hr {
    color: #7289DA;
}



/*
* Typo
*/
h1, h2, h3, h4, h5, h6 {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 35px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 35px;
}

h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

footer .col-social > h3 {
    font-size: 16px;
    color: #7289DA;
}

h4 {
    font-size: 12px;
    font-weight: 400;
    color: #7289DA;
}

p {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.7em;
}

span {
    color: white;
    font-size: 12px;
}

ul {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.login {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/*
* Header menu
*/
header {
    background-color: #255EE9;
    color: white;
}

.container-menu {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.logo {
    width: 20%;
    padding-left: 10px;
}

.logo > img,
.logo-foot > img {
    width: 124px;
    height: 34px;
}

nav {
    width: 60%;
}

.menu {
    display: flex;
    justify-content: center;
}

nav > .menu > li {
    list-style: none;
    margin: 0 20px;
}

.login {
    width: 20%;
    text-align: center;
    padding-right: 10px;
}



/*
* Header banner
*/
.banner {
    padding: 100px 0 118px 0;
    background: url(../img/jumbo.png) center/120% no-repeat;
}

.banner-pay {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.banner-pay > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-pay > a {
    margin: 0 5px;
}



/*
* Main sito
*/
.flex-container {
    margin: 50px 0;
}

.flex-container:nth-child(even) {
    background-color: #f6f6f6;
}

/*
*  --------------- Wave main
*/
.wave {
    position: absolute;
    min-height: 150px;
    width: 100%;
    bottom: -40px;
    text-align: center;
}
.wave::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: invert(100%) sepia(2%) saturate(981%) hue-rotate(222deg) brightness(113%) contrast(93%);
    z-index: -1;
}
.wave::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: invert(100%) sepia(2%) saturate(981%) hue-rotate(222deg) brightness(113%) contrast(93%);
    transform: rotate(180deg) translate(0, -400%) ;
    z-index: -1;
}

.wave-single {
    position: absolute;
    min-height: 150px;
    width: 100%;
    top: -36px;
    text-align: center;
}
.wave-single::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 56px;
    filter: invert(100%) sepia(2%) saturate(981%) hue-rotate(222deg) brightness(113%) contrast(93%);
    z-index: -1;
}
/*
* --------------- /Wave main
*/


.row {
    display: flex;
    padding: 50px 0;
    margin: 0 auto;
    width: 80%;
}

main .flex-container:nth-child(even) > .row {
    flex-direction: row-reverse;
}

.col-lg {
    width: 60%;
}

.col-md {
    width: 40%;
    margin-top: 40px;
    margin-left: 40px;
}

.secondary {
    background-color: #f6f6f6;
    padding: 50px 0;
    position: relative;
    margin-top: 30px;
}

.big-box {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.call {
    background: url(../img/stars.svg) center -25px/430px no-repeat; 
}



/*
* Footer
*/
footer {
    background-color: #23272a;
    padding: 40px 0 10px 0;
    /* margin-top: 40px; */
}

.footer-container-top > .row {
    padding: 0 0 20px 0;
}

.col-social {
    flex-basis: 30%;
}

.col-foot-menu {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
}

.footer-content {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 20px 0;
}

footer li {
    list-style: none;
}

hr {
    max-width: 80%;
    margin: 0 auto;
}

.lang-selector > img {
    height: 16px;
    vertical-align: middle;
}

.lang-selector > i {
    color: white;
    font-size: 12px;
}

.social {
    margin-left: -10px;
}

.social > i {
    color: white;
    font-size: 14px;
    margin: 20px 10px;
}